[user]
	name = Sebastien Bordes
	email = sebastien.bordes@jrebirth.org
[gui]
	encoding = utf-8
	recentrepo = E:/JREBIRTH/CACHE/GIT/JFX-Presentation
	recentrepo = E:/JREBIRTH/CACHE/GIT/LightningTalk
	recentrepo = E:/JREBIRTH/CACHE/GIT/JRebirth-Skin
	recentrepo = E:/JREBIRTH/CACHE/GIT/JRebirth
	recentrepo = E:/JREBIRTH/CACHE/GIT/MasteringTables
